<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'mainpage' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-12 top-banner">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpBdvdkieV5TKgxEtJ9--Uwc2okQLWFQx3GQ&usqp=CAU" alt="">
    </div>
  </div>
  <div class="row banner">
    <div class="col-lg-6 banner-left">
      <div class="row">
        <div class="col-4 banner-img">
          <%= image_tag '3.png', alt: '' %>
        </div>
        <div class="col-8 banner-text">
          <h3 class="banner-title">Top games</h3><br> <span class="banner-desc">4200+ games to play</span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 banner-rigth">
      See Top Games >
    </div>
  </div>
  <div class="row list-games">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <h3>
            TOP GAMES
          </h3>
        </div>
      </div>
      <% 3.times do |_| %>
        <div class="row game-info">
          <div class="col-4 preview">
            <%= image_tag '1.png', alt: '' %>
          </div>
          <div class="col-8">
            <h5>Name game</h5>
            <div class="tags">
              <div class="tag">Tag #1</div>
              <div class="tag">Tag #2</div>
            </div>
            <button class="detail"> PLAY </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <h3>
            NEW GAMES
          </h3>
        </div>
      </div>
      <% 3.times do |_| %>
        <div class="row game-info">
          <div class="col-4 preview">
            <%= image_tag '1.png', alt: '' %>
          </div>
          <div class="col-8">
            <h5>Name game</h5>
            <div class="tags">
              <div class="tag">Tag #1</div>
              <div class="tag">Tag #2</div>
            </div>
            <button class="detail"> PLAY </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12">
          <h3>
            FREE GAMES
          </h3>
        </div>
      </div>
      <% 3.times do |_| %>
        <div class="row game-info">
          <div class="col-4 preview">
            <%= image_tag '1.png', alt: '' %>
          </div>
          <div class="col-8">
            <h5>Name game</h5>
            <div class="tags">
              <div class="tag">Tag #1</div>
              <div class="tag">Tag #2</div>
            </div>
            <button class="detail"> PLAY </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row advantages">
    <div class="col-lg-12 advantages-title">
      <h2>The advantages for our all access members</h2>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12 advantage-img">
          <%= image_tag '2.png', alt: '' %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 advantage-name">
          <h3>Advantage #1</h3>
        </div>
      </div>
      <div class="row advantage-desc">
        <div class="col-12">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12 advantage-img">
          <%= image_tag '2.png', alt: '' %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 advantage-name">
          <h3>Advantage #2</h3>
        </div>
      </div>
      <div class="row advantage-desc">
        <div class="col-12">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-12 advantage-img">
          <%= image_tag '2.png', alt: '' %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 advantage-name">
          <h3>Advantage #3</h3>
        </div>
      </div>
      <div class="row advantage-desc">
        <div class="col-12">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="col-lg-12">
      <% if subscription? %>
        <%= link_to "Get all access", new_subscription_path, class: "btn disabled"  %>
      <% else %>
        <%= link_to "Get all access", new_subscription_path %>
      <% end %>
    </div>
  </div>
</div>

</body>
</html>
